/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

/* Navigation styling */
header {
    background-color: #000000;
    padding: 10px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu {
  flex: 1; /* Ensures the menu takes up all available space */
  display: flex;
  justify-content: center;
}

.menu-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu-list li a {
    color: white;
    text-decoration: none;
}

.menu-button {
    display: none;
    background-color: #030303;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Drawer styling */
.drawer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 9999;
}

.drawer.open {
    transform: translateX(0);
    display: block;
}

.drawer-menu {
    list-style-type: none;
    padding: 20px;
}

.drawer-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}

/* Close button styling */
.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}


/* Responsive styles */
@media (max-width: 768px) {
    .menu-list {
        display: none;
    }

    .menu-button {
        display: block;
    }
}
